<script>

async function deleteItem(secretId) {
    const listItem = document.getElementById(`item-${secretId}`);
    if (confirm("Are you sure you want to delete this secret?")) {
      try {
        const response = await fetch('/secret/delete', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ secretId }),
        });

        if (response.ok) {
            if (listItem) {
                    listItem.remove();
                }
        } else {
        }
      } catch (error) {
        console.error("Error:", error);
      }
    }
  }


    function getQueryParam(param) {
      const urlParams = new URLSearchParams(window.location.search);
      return urlParams.get(param);
    }

    const successMessage = getQueryParam('success');
    if (successMessage) {
      Toastify({
        text: successMessage,
        duration: 3000,
        gravity: "top", 
        position: "right",
        backgroundColor: "#28a745", 
      }).showToast();
    }
  
    const errorMessage = getQueryParam('error');
    if (errorMessage) {
      Toastify({
        text: errorMessage,
        duration: 3000,
        gravity: "top", 
        position: "right",
        backgroundColor: "#dc3545",
      }).showToast();
    }
  </script>
  

</body>
</html>
