<%- include('partials/header') %>
<a href="/" class="home-button">
  <i class="fas fa-arrow-left"></i>
</a>
<div class="container loginsize mt-5" style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;">
  <h1>Login</h1>

  <div class="row widthhigh" style="display: flex; justify-content: center;">
    <div>
      <div class="card">
        <div class="card-body" style="padding: 30px; width: 400px;">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
            <Span style="margin:0 10px;"> Or </Span>
            <a href="/register" style="color: black; font-weight: 700; text-decoration: underline;">Register</a>
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>
