<%- include('partials/header') %>


<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-book-open fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
  </div>
  <div class="secrets-list">
    <% if (secrets.length > 0) { %>
      <ul class="list-group">
        <% secrets.forEach(secret => { %>
          <li class="list-group-item"><%= secret %></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p class="text-center">No secrets have been shared yet!</p>
    <% } %>
</div>
<div class="jumbotron text-center">
  <div class="container">
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button" style="margin-right:10px ;">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
