
body {
  background-color: #E8ECEF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/* transform: scale(2); */
}

.centered {
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #0e0e0e;
}


.custom-btn {
  border: 1px solid #0d0d0d; 
  transition: all 0.3s ease; 
}
.custom-btn2 {
  border: 1px solid #000000; 
  transition: all 0.3s ease; 
}


.custom-btn:hover { 
  border: 1px solid #0d0d0d; 
}

.home-button {
  position: absolute;
  top: 10%;
  left: 10%;
  text-decoration: none;
  color: #a6a5a5;
  font-size: 24px;
  background-color: #ffffff;
  padding: 15px 20px;
  border-radius: 50%;
  transition: 0.3s all;
}
.home-button:hover {
  color: #141414;
}
.biggest_div{
  transform:scale(1);
}

@media (min-width:576px) and (max-width:1000px){
  .biggest_div{
    transform:scale(1.5) !important;
  }
  .container{
    transform:scale(1.2)
  }
  .home-button {
    top: 10%;
    left: 10%;
    font-size: 34px;
    padding: 15px 20px;
  }
  .secret-text{
    font-size: 24px;
  }
  .loginsize{
    transform: scale(1.3) !important;
  }
  .card{
    padding: 20px 0;
    border-radius: 20px;
  }
  
}
